{% assign event = include.event %}
<article class="event">
  <header class="event__header">
    <h1 class="event__title">
      {{ event.title }}{% if event.upcoming and event.time %}, {{event.time}}.{% endif %}
    </h1>
    {% if event.dou != nil %}
      <h2 class="event__dou"><a href="{{event.dou}}" target="_blank">каледарь DOU</a></h2>
    {% endif %}
  </header>
  <div class="event__content">
    {% if event.playlist != nil %}
      {{event.playlist}}
    {% endif %}
    <ul class="humans">
      {% assign people = site.data.people %}
      {% for id in event.speakers %}
        {% assign human = site.data.people[id] %}
        <li class="human">
          <figure class="userpic human__userpic">
            <img class="userpic__image" src="{{human.avatar}}" alt="">
          </figure>
          <div>
            <h4 class="human__name"><a href="{{human.homepage}}" target="_blank">{{human.name[page.lang]}}</a></h4>
            {% assign topics = event.topics %}
            {% if event.topics != nil %}
              <h5 class="human__talk">
                {% assign talkLink = topics[human.id].link %}
                {% assign talkName = topics[human.id].name %}
                {% if talkLink != nil %}
                  <a href="{{talkLink}}" target="_blank">{{talkName}}</a>
                {% else %}
                  {{talkName}}
                {% endif %}
              </h5>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
