{% assign event = include.event %}
<article class="event">
  <header class="event__header">
    <h1 class="event__title">
      {{ event.title }}{% if event.upcoming and event.time %}, {{event.time}}.{% endif %}
    </h1>
    {% if event.dou != nil %}
      <h2 class="event__dou"><a href="{{event.dou}}" target="_blank">календар DOU</a></h2>
    {% endif %}
  </header>
  <div class="event__content">
    {% if event.playlist != nil %}
      {{event.playlist}}
    {% endif %}
    <ul class="humans">
      {% assign people = site.data.people %}
      {% for id in event.speakers %}
        {% assign human = site.data.people[id] %}
        <li class="human-container">
          <div class="human">
            <figure class="userpic human__userpic">
              <img class="userpic__image" src="{{human.avatar}}" alt="">
            </figure>
            <div>
              {% include human.html human=human lang=page.lang %}
              {% assign topics = event.topics %}
              {% if event.topics != nil %}
                <h5 class="human__talk">
                  {% assign talkLink = topics[human.id].link %}
                  {% assign talkName = topics[human.id].name %}
                  {% assign talkLang = topics[human.id].lang %}
                  {% if talkLink != nil %}
                    <a class="human__talk-link" href="{{talkLink}}" target="_blank">{{talkName}}</a>
                  {% else %}
                    {{talkName}}
                  {% endif %}
                  {% if talkLang != nil %}
                    <span class="human__talk-lang">{{talkLang}}</span>
                  {% endif %}
                </h5>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if event.lightnings != nil %}
    <div class="lightnings">
      <h1 class="lightnings__title">
          {{commonStrings.lightnings}}
      </h1>
      <ul class="lightnings__list">
      {% for lightning in event.lightnings %}
        {% assign human = site.data.people[lightning.speaker] %}
        <li class="lightning">
            <span class="lightning__human">
              {% include human.html human=human lang=page.lang %}
            </span>
            {% if lightning.link != nil %}
              <a class="lightning__link" href="{{lightning.link}}" target="_blank">{{lightning.name}}</a>
            {% else %}
              {{lightning.name}}
            {% endif %}
            {% if lightning.lang != nil %}
              <span class="human__talk-lang">{{lightning.lang}}</span>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  </div>

</article>
