{% assign commonStrings = include.commonStrings %}
{% assign people = site.data.people %}
<footer class="footer">
  <a id="write-anchor"></a>
  <article class="orgs default-text">
    <h1>{{commonStrings.orgs}}</h1>
    <ul class="humans">
      {% for id in page.orgs %}
        {% assign human = people[id] %}
        <li class="human">
          <figure class="userpic human__userpic">
            <img class="userpic__image" src="{{human.avatar}}" alt="">
          </figure>
          <div>
            <h4 class="human__name"><a href="{{human.homepage}}" target="_blank">{{human.name[page.lang]}}</a></h4>
            <h5 class="human__contact"><a href="{{human.contact}}" target="_blank">{{human.contact}}</a></h5>
          </div>
        </li>
      {% endfor %}
    </ul>
  </article>
  <article class="orgs default-text">
    <h1>{{commonStrings.founders}}</h1>
    <ul class="humans">
      {% for id in page.founders %}
        {% assign human = people[id] %}
        <li class="human">
          <figure class="userpic human__userpic">
            <img class="userpic__image" src="{{human.avatar}}" alt="">
          </figure>
          <div>
            <h4 class="human__name"><a href="{{human.homepage}}" target="_blank">{{human.name[page.lang]}}</a></h4>
            <h5 class="human__contact"><a href="{{human.contact}}" target="_blank">{{human.contact}}</a></h5>
          </div>
        </li>
      {% endfor %}
    </ul>
  </article>
</footer>

<script>

  !function(k,y,i,v,j,s){k.GoogleAnalyticsObject=i;k[i]||(k[i]=function(){
  (k[i].q=k[i].q||[]).push(arguments)});k[i].l=+new Date;j=y.createElement(v);
  s=y.getElementsByTagName(v)[0];j.src='//www.google-analytics.com/analytics.js';
  s.parentNode.insertBefore(j,s)}(window,document,'ga','script');

  // @sudodoki's tracking ID
  ga('create', 'UA-89923986-1', 'auto');
  ga('send', 'pageview');

</script>
