/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* =================== */
html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  position: relative;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.github-corner {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header {
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  background: linear-gradient(-180deg, rgba(48, 34, 174, 0) 0%, rgb(4, 189, 230) 100%), #fbeb29 url(/static/header.jpg) center center/cover no-repeat;
}

.header__layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.header__note {
  font-size: 2.3em;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo__image {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background: #fff url('/static/kyivjs.svg') center / 85% no-repeat;
}

.logo__type {
  font-size: 4.5em;
  font-weight: bold;
  color: #fff;
}

.header-links {
  text-align: center;
}

.header-links__item {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.header-links__link,
.header__note a {
  font-size: 1.6em;
  line-height: 1.5;

  color: #fff;
  border: rgba(255, 255, 255, 0.5) solid .1rem;
  border-radius: .2rem;
  text-decoration: none;
  padding: .3rem 1rem;
  transition: background-color .15s, color .15s;
 }

 .header-links__link:hover,
 .header-links__link_active,
 .header__note a:hover {
    background-color: rgba(112, 183, 253, 0.5);
 }

.header-links__link--active {
  background-color: rgba(112, 183, 253, 0.5);
}

.header__note a {
  font-size: inherit;
  white-space: nowrap;
}

.header-links__link_register {
  background-color: rgba(3, 167, 3, 0.82);
  border-color: green;
}

.header-links__link_register:hover {
  background-color: rgba(3, 167, 3, 1);
}

.main {
  padding-left: 3rem;
  padding-right: 3rem;
}

.default-text > h1 {
  font-size: 3.2em;
  line-height: 1.5;
  text-align: center;
}

.default-text > h2 {
  font-size: 2.6em;
}

.default-text > h3 {
  font-size: 2.1em;
}

.previous,
.next {
  margin-top: 6rem;
}

.next {
  padding-bottom: 3rem;
  border-bottom: .2rem solid rgba(0, 0, 0, .15);
}

.youtube {
  width: 100%;
  height: 40vmax;
  margin: 4rem 0;
}

.event {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.event__dou {
  font-size: 1.6em;
  line-height: 1.5;
}

.previous .event {
  border-bottom: .1rem solid rgba(0, 0, 0, .15);
}

.event__header {
  display: flex;
}

.event__title {
  font-size: 2.1em;
  flex-grow: 1;
}

.humans {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.human-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.human {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 2rem;
}

.human__userpic {
  flex-shrink: 0;
  margin-bottom: 1.5rem;
}

.human__name {
  font-size: 2.6em;
  line-height: 1.5;
}

.human__contact {
  font-size: 1.6em;
  line-height: 1.5;
}

.human__talk {
  font-size: 2.1em;
  line-height: 1.3;
  margin-top: 1rem;
}

.human__talk-link {
  color: black;
}

.human__talk-lang {
  color: #333;
  border: #333 1px solid;
  padding: 1px 4px;
  font-size: 0.5em;
  position: relative;
  top: -3px;
  margin-left: 5px;
  border-radius: 3px;
}

.lightnings {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

@media (min-width: 32em) {
  .lightnings {
    padding: 2rem;
  }
}

.lightnings__title {
  font-size: 2rem;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.lightnings__list {
  padding: 1rem 0;
}

.lightning {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-top: 1rem;
}
.lightning__human {
  font-size: 8px;
}

.lightning__human::after {
  content: " /";
  font-size: 2em;
}

.lightning__link {
  color: black;
}

.userpic {
  display: inline-block;
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 100%;
}

.userpic__image {
  position: absolute;
  left: -.3rem;
  top: -.3rem;
  z-index: -1;
  width: calc(100% + .6rem);
  height: calc(100% + .6rem);
  background: rgba(0, 0, 0, .05);
}

.upcoming-info {
  margin-top: 4rem;
}

.upcoming-info__note {
  color: #cb0000;
  font-size: 1.6em;
  line-height: 1.5;
}

.upcoming-info__location {
  font-size: 2.1em;
  margin-top: 2rem;
}

.upcoming-info__show-map {
  cursor: pointer;
  border-bottom: .1rem dashed;
}

.upcoming-info__map {
  overflow: hidden;
  height: 0;
  will-change: height;
  transition: height .2s ease-out;
  margin-top: 1rem;
}

.upcoming-info__map-toggler {
  visibility: hidden;
  position: fixed;
  left: -100%;
  top: -100%;
}

.upcoming-info__map-toggler:checked ~ .upcoming-info__map {
  height: 40rem;
}

.footer {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 10rem;
  margin-top: 6rem;
}

.orgs {
  margin-top: 6rem;
}
.social-buttons {
  height: 20px;
}

.social-buttons__btn {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 0 3px;
  color: #333;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  line-height: 10px;
  text-decoration: none;
  border: #fff 1px solid;
}

.social-buttons__btn:hover {
  border: #333 1px solid;
}

.social-buttons__btn i {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent 0 0 no-repeat;
}

.social-buttons__btn--twitter i {
  background-color: #333;
  border-radius: 3px;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
 }

.social-buttons__btn--twitter b {
  margin-left: 2px;
  white-space: nowrap;
  font-size: 14px;
}

.social-buttons__btn--linkedin i {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGlkPSJDYXBhXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQzMC4xIDQzMC4xOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNDMwLjEgNDMwLjEiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxwYXRoIGQ9Ik0zOTguNCwwSDMxLjhDMTQuMiwwLDAsMTMuOCwwLDMwLjh2MzY4LjVjMCwxNywxNC4yLDMwLjgsMzEuOCwzMC44aDM2Ni42ICAgICBjMTcuNSwwLDMxLjgtMTMuOCwzMS44LTMwLjhWMzAuOEM0MzAuMSwxMy44LDQxNS45LDAsMzk4LjQsMHogTTEzMC40LDM2MGgtNjVWMTY1LjhoNjVWMzYweiBNOTcuOSwxMzkuM2gtMC40ICAgICBjLTIxLjgsMC0zNS45LTE0LjktMzUuOS0zMy42YzAtMTksMTQuNS0zMy41LDM2LjgtMzMuNWMyMi4yLDAsMzUuOSwxNC41LDM2LjMsMzMuNUMxMzQuNywxMjQuNCwxMjAuNiwxMzkuMyw5Ny45LDEzOS4zeiAgICAgIE0zNjQuNywzNjBoLTY1VjI1Ni4xYzAtMjYuMS05LjQtNDMuOS0zMi45LTQzLjljLTE4LDAtMjguNiwxMi0zMy4zLDIzLjZjLTEuNyw0LjEtMi4yLDkuOS0yLjIsMTUuN1YzNjBoLTY1ICAgICBjMCwwLDAuOS0xNzYsMC0xOTQuMmg2NXYyNy41YzguNi0xMy4yLDI0LTMyLjEsNTguNS0zMi4xYzQyLjgsMCw3NC44LDI3LjcsNzQuOCw4Ny40TDM2NC43LDM2MEwzNjQuNywzNjB6IE0yMzAuOSwxOTQgICAgIGMwLjEtMC4yLDAuMy0wLjQsMC40LTAuNnYwLjZIMjMwLjl6IiBpZD0iTGlua2VkSW5fX3gyOF9hbHRfeDI5XyIvPjwvZz48L2c+PC9zdmc+)
}

.social-buttons__btn--github i {
  background-size: 14px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHZlcnNpb249IjEuMCIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMDAzLDBDNy4xNywwLDAuMDA4LDcuMTYyLDAuMDA4LDE1Ljk5NyAgYzAsNy4wNjcsNC41ODIsMTMuMDYzLDEwLjk0LDE1LjE3OWMwLjgsMC4xNDYsMS4wNTItMC4zMjgsMS4wNTItMC43NTJjMC0wLjM4LDAuMDA4LTEuNDQyLDAtMi43NzcgIGMtNC40NDksMC45NjctNS4zNzEtMi4xMDctNS4zNzEtMi4xMDdjLTAuNzI3LTEuODQ4LTEuNzc1LTIuMzQtMS43NzUtMi4zNGMtMS40NTItMC45OTIsMC4xMDktMC45NzMsMC4xMDktMC45NzMgIGMxLjYwNSwwLjExMywyLjQ1MSwxLjY0OSwyLjQ1MSwxLjY0OWMxLjQyNywyLjQ0MywzLjc0MywxLjczNyw0LjY1NCwxLjMyOWMwLjE0Ni0xLjAzNCwwLjU2LTEuNzM5LDEuMDE3LTIuMTM5ICBjLTMuNTUyLTAuNDA0LTcuMjg2LTEuNzc2LTcuMjg2LTcuOTA2YzAtMS43NDcsMC42MjMtMy4xNzQsMS42NDYtNC4yOTJDNy4yOCwxMC40NjQsNi43Myw4LjgzNyw3LjYwMiw2LjYzNCAgYzAsMCwxLjM0My0wLjQzLDQuMzk4LDEuNjQxYzEuMjc2LTAuMzU1LDIuNjQ1LTAuNTMyLDQuMDA1LTAuNTM4YzEuMzU5LDAuMDA2LDIuNzI3LDAuMTgzLDQuMDA1LDAuNTM4ICBjMy4wNTUtMi4wNyw0LjM5Ni0xLjY0MSw0LjM5Ni0xLjY0MWMwLjg3MiwyLjIwMywwLjMyMywzLjgzLDAuMTU5LDQuMjM0YzEuMDIzLDEuMTE4LDEuNjQ0LDIuNTQ1LDEuNjQ0LDQuMjkyICBjMCw2LjE0Ni0zLjc0LDcuNDk4LTcuMzA0LDcuODkzQzE5LjQ3OSwyMy41NDgsMjAsMjQuNTA4LDIwLDI2YzAsMiwwLDMuOTAyLDAsNC40MjhjMCwwLjQyOCwwLjI1OCwwLjkwMSwxLjA3LDAuNzQ2ICBDMjcuNDIyLDI5LjA1NSwzMiwyMy4wNjIsMzIsMTUuOTk3QzMyLDcuMTYyLDI0LjgzOCwwLDE2LjAwMywweiIgZmlsbD0iIzE4MTYxNiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PGcvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PC9zdmc+)
}

.lightning__human .social-buttons, .lightning__human .human__name{
  display: inline;
}

.lightning__human .social-buttons__btn {
  margin-top: 6px;
}
/* ===== resonsiveness ===== */
@media (max-width: 25.6875em)/*411px*/ {
  html {
    font-size: 50%;
  }
}

@media (min-width: 25.75em)/*412px*/ {
  .logo {
    flex-direction: row;
  }

  .logo__type {
    margin-left: 1rem;
  }
}

@media (min-width: 32em)/*512px*/ {
  .default-text > h1 {
    text-align: left;
  }

  .human {
    flex-direction: row;
    min-width: 40rem;
    text-align: left;
  }

  .human__userpic {
    margin-right: 4rem;
    margin-bottom: 0;
  }
}

@media (max-width: 47.9375em)/*767px*/ {
  .logo {
    margin-bottom: 2rem;
  }
}

@media (min-width: 48em)/*768px*/ {
  .header__layout {
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between;
  }

  .header-links {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header__note {
    text-align: left;
  }

  .header__note,
  .main,
  .footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 62em)/*992px*/ {
  .header__layout {
    justify-content: flex-start;
  }

  .header-links {
    margin-left: 4rem;
  }

  .header__note,
  .main,
  .footer {
    padding-left: 25rem;
    padding-right: 10rem;
  }
}
