<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>KyivJS</title>

    <meta name="description" content="{{site.description}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>
    {% assign commonStrings = site.data.common[page.lang] %}
    {% include header.html %}
    <main>
      <p>{{page.callForSpeakers}}</p>
      <h1>{{page.nextTitle}}</h1>

      {% assign events = (site.events | sort: 'sortDate' | where:'lang', page.lang) | reverse %}
      <div>
        {% for event in events %}
          {% if event.upcoming == true %}
            {% include event.html event=event %}
            <p>
              {{event.regAnnounce}}
              {% if event.regLink %}
                <br><a href="{{event.regLink}}">{{commonStrings.register}}</a>
              {% endif %}
            </p>
            {% assign location = site.data.locations[event.location][page.lang] %}
            <address>
              {{location.name}}, {{location.address}}
            </address>
            <div>
              {{location.map}}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <section>
        <h2>{{page.prevTitle}}</h2>
        {% for event in events %}
          {% if event.upcoming != true %}
            {% include event.html event=event %}
          {% endif %}
        {% endfor %}
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
