<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>KyivJS</title>

    <meta name="description" content="{{site.description}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/custom.css">
  </head>

  <body>
    {% include header.html %}
    {% assign events = (site.events | sort: 'sortDate' | where:'lang', page.lang) | reverse %}
    {% for event in events %}
      <h2>{{ event.title }}</h2>
      {% if event.playlist != nil %}
        {{event.playlist}}
      {% endif %}
      {% if event.dou != nil %}
        <h3><a href="{{event.dou}}">каледарь DOU</a></h3>
      {% endif %}
      <ul>
        {% assign people = site.data.people %}
        {% for id in event.speakers %}
          {% assign speaker = site.data.people[id] %}
          <li>
            <figure>
              <img src="/static/{{speaker.avatar}}" alt="">
            </figure>
            <h4><a href="{{speaker.homepage}}">{{speaker.name[page.lang]}}</a></h4>
            {% assign topics = event.topics %}
            {% if event.topics != nil %}
              <h5>
                {% assign talkLink = topics[speaker.id].link %}
                {% assign talkName = topics[speaker.id].name %}
                {% if talkLink != nil %}
                  <a href="{{talkLink}}">{{talkName}}</a>
                {% else %}
                  {{talkName}}
                {% endif %}
              </h5>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    {% include footer.html %}
  </body>
</html>
